<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">
  <title>Harry RankingPoints</title>
  <link rel="shortcut icon" href="https://material.io/favicon.ico">
  <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/normalize/8.0.0/normalize.min.css">
  <link rel="stylesheet" href="https://fonts.googleapis.com/css?family=Roboto:300,400,500,700">
  <link rel="stylesheet" href="bundle.css">
  <script type = "text/javascript" src = "https://www.gstatic.com/charts/loader.js">
  </script>
  <script type = "text/javascript">
      google.charts.load('current', {packages: ['corechart','bar']});
  </script>
    <script type="text/javascript" src="https://www.gstatic.com/charts/loader.js"></script>

</head>


<body style = "width: 100%; height: 100%;">
<header class="mdc-top-app-bar mdc-top-app-bar--fixed">
    <div class="mdc-top-app-bar__row">
        <section class="mdc-top-app-bar__section mdc-top-app-bar__section--align-start">
            <span class="mdc-top-app-bar__title">Harry Ranking Points</span>
        </section>
    </div>
</header>

  <div id = "container" style = "width: 50%; height: 100%; margin: 150px auto auto;">
  <script language = "JavaScript">
        function drawChart() {
            // Define the chart to be drawn.
            var data = new google.visualization.DataTable();
            
            data.addColumn('string', 'HOGWARTS');
            {{range .}}
            data.addColumn('number', '{{.HouseName}}');
            {{end}}
            data.addRows([
                ['House',
                {{range .}}
                    {{.HousePoint}}, 
                    {{end}}
                ],
            ]);
            var options = {legend: 'none', bars: 'vertical', colors: ['#8A2825', '#c19636', '#2f719f','#295528'], animation: {"startup": true}};

            // Instantiate and draw the chart.
            var chart = new google.charts.Bar(document.getElementById('container'));
            chart.draw(data, options);
        }
        google.charts.setOnLoadCallback(drawChart);
    </script>

  <script src="bundle.js" async></script>
</body>
</html>
